.inputContainer {
  width: 100%;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 14px 16px;
  border-radius: 12px;
  border: 1px solid #000;
  background-color: #f0f0f0;
  font-size: 15px;
  transition: all 0.3s ease;
}

.input:focus {
  outline: none;
  border-color: #000;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.error {
  border-color: var(--error);
}

.errorText {
  color: var(--error);
  font-size: 12px;
  margin-top: 4px;
  padding-left: 4px;
}